.loader {
    border: 16px solid red;
    border-top: 16px solid green;
    border-radius:50%;
    width:200px;
    height:200px;
    animation: spin 2s linear infinite;
    
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}
div {
    height:200px;
    width:200px;
    background-color: blue;
    
    border-radius: 50%;
    text-align:center;
    padding:0%;

}
